$white: #fff;
$black: #222;
$black-lighter: #272727;
$blue: #3082d8;
$blue-darker: #5186bf;
$green: #98CF33;
$transparent: rgba(000, 000, 000, 0);
@import 'sass/mixins.scss';
@import 'sass/components/components.scss';

html {
  overflow-x: hidden;
}

.navbar-container {
  text-align: right;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: $white;
  border-bottom: 3px solid $blue;
  top: 0;
  z-index: 888;
}

.navbar {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-right: 150px;

  .nav-item {
    @include roboto-font;
    display: inline-block;
    color: $black;
    font-size: 1.4em;
    margin: 15px;
    text-transform: uppercase;
    animation: letter-appear 1s ease;
    border-color: transparent;
    transition: 500ms all ease;
    border-bottom: 1px solid transparent;

    &:hover {
      cursor: pointer;
      border-bottom: 4px solid $blue;
    }
  }

  .nav-item-logo {
    position: absolute;
    left: 150px;

    .logo {
      height: 4rem;
    }
  }
}

.hero-container {
  position: relative;
  margin: 50px auto 0;
  background: url("/images/header.jpeg") no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  text-align: center;
  z-index: -1;

  .hero-title {
    @include roboto-font;
    font-size: 3em;
    color: $white;
  }

  .btn-white {
    @extend .btn;
    background-color: $transparent;
    color: $white;
    border: 1px solid $white;

    &:hover {
      background-color: $white;
      color: $black;
      border: 1px solid $white;
      cursor: pointer;
    }
  }
}

.hero-arrow {
  position: absolute;
  bottom: 50px;
  right: 50%;
  font-size: 3em;
  color: $white;
  animation: arrow-animation 2s ease infinite;
}

.offer {
  margin-bottom: 60px;
  text-align: center;

  .offer-item-container {
    text-align: center;
    padding: 50px;
  }

  .far,
  .fas {
    font-size: 6em;
    color: $blue-darker;
  }

  .section-text {
    padding: 10px;
    margin-top: 0;
  }

  .offer-title {
    font-size: 2.5em;
  }

  .btn-offer {
    width: 100%;
    margin-top: 100px;
  }
}

.description {
  background-color: $blue;

  .description-items {
    padding: 50px 150px;
  }

  .section-title {
    text-align: left;
    color: $white;
    font-weight: 400;
  }

  .description-item,
  .description-item-list {
    list-style: disc;
    color: $white;
    font-weight: 300;
  }

  .description-item:last-child {
    margin-bottom: 0;
  }

  .house-img {
    background: url("/images/home.jpeg") no-repeat;
    background-size: cover;
  }

  .office-img {
    background: url("/images/office.jpeg") no-repeat;
    background-size: cover;
  }
}

.ask {
  padding: 20px 120px;
  background-color: $blue-darker;

  .ask-item {
    color: $white;
  }

  .btn {
    width: 50%;
  }
}

.about-us {
  text-align: center;
  margin: 80px 80px 150px;

  .about-us-description {
    padding-top: 0;
    line-height: 1.3em;
  }

  .about-us-items {
    text-align: left;
  }

  .about-us-items:last-child {
    text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
    line-height: 1.3em;
  }

  .about-us-img {
    border-radius: 3px;
  }
}

.contact {
  background-color: $blue-darker;

  .section-title {
    font-size: 3em;
    color: $white;
  }
}

.footer-container {
  background-color: $black-lighter;
  padding: 50px;

  .footer-item {
    color: $white;
    text-align: center;
    font-size: 0.9em;
    list-style: none;
    font-weight: 300;
    margin: 5px;
  }

  .section-title {
    font-weight: 900;
  }

  .footer-logo {
    object-fit: contain;
    height: 60px;
    margin-bottom: 20px;
  }

  .footer-offer {
    padding: 0;
  }

  .far,
  .fas {
    color: $white;
  }

  .mail {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
}
@keyframes letter-appear {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  50% {
    letter-spacing: 0;
    opacity: 0.4;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes arrow-animation {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.5);
  }

  35% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}
@import 'sass/rwd.scss';
@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$i}-#{$prefix} {
      $width: 100% / 12 * $i;
      width: $width;
      display: flex;
      flex-direction: column;
    }
  }
}
@media only screen and (min-width : 768px) {
  // TABLET
  @include grid('md');
}
@media only screen and (min-width : 1200px) {
  // DESKTOP
  @include grid('xl');
}
@media only screen and (max-width : 767px) {
  // MOBILE
  @include grid('sm');
}

.flex-center {
  @include flex-center;
}

ul {
  padding: 0;
}
