@import 'sass/grid.scss';
@import 'sass/mixins.scss';
$white: #fff;
$black: #222;
$blue: #3082d8;
$blue-darker: #5186bf;
$green: #98CF33;

html {
  overflow-x: hidden;
}

.section-text {
  font-size: 1.3em;
  @include roboto-font;
}

.section-title {
  font-size: 1.7em;
  @include roboto-font;
  font-weight: 900;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-center {
  @include flex-center;
}

.overlay {
  background-color: rgba(000, 000, 000, 0.7);
  width: 100%;
  height: 50%;
  @include flex-center;
}

.btn {
  padding: 10px;
  @include roboto-font;
  transition: 300ms all ease;
  border-radius: 3px;
}

.btn-blue {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;
  border-radius: 3px;
  width: 50%;
  margin: 0 auto;
  transition: 400ms all ease;

  &:hover {
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
    cursor: pointer;
  }
}

.btn-white {
  border: 1px solid $white;
  color: $blue-darker;
  transition: 400ms all ease;

  &:hover {
    color: $white;
    background-color: $blue-darker;
    cursor: pointer;
  }
}

.navbar-container {
  text-align: right;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: $white;
  border-bottom: 3px solid $blue;
  top: 0;
}

.navbar {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-right: 150px;

  .nav-item {
    @include roboto-font;
    display: inline-block;
    color: $black;
    font-size: 1.4em;
    margin: 15px;
    text-transform: uppercase;
    animation: letter-appear 1s ease;
    border-color: transparent;
    transition: 300ms all ease;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid #222;
    }
  }

  .nav-item-logo {
    position: absolute;
    left: 150px;

    .logo {
      height: 4rem;
    }
  }
}

.hero-container {
  margin: 100px auto 50px;
  background: url("/images/header.jpeg") no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;

  .hero-title {
    @include roboto-font;
    font-size: 3em;
    color: $white;
  }

  .btn-contact {
    @extend .btn;
    background-color: rgba(000, 000, 000, 0);
    color: $white;
    border: 1px solid $white;

    &:hover {
      background-color: $white;
      color: $black;
      border: 1px solid $white;
      cursor: pointer;
    }
  }
}

.offer {
  margin-bottom: 150px;
  text-align: center;

  .offer-item-container {
    text-align: center;
    height: 500px;
    padding: 100px;
  }

  .fas {
    font-size: 7em;
    color: $green;
  }

  .section-text {
    padding: 10px;
    margin-top: 0;
  }
}

.description {
  background-color: $blue;

  .description-items {
    padding: 50px 150px;
  }

  .section-title {
    text-align: left;
    color: $white;
    font-weight: 400;
  }

  .description-item {
    list-style: disc;
    color: $white;
    font-weight: 300;
  }

  .description-item:last-child {
    margin-bottom: 0;
  }

  .house-img {
    background: url("/images/home.jpeg") no-repeat;
    background-size: cover;
  }

  .office-img {
    background: url("/images/office.jpeg") no-repeat;
    background-size: cover;
  }
}

.ask {
  padding: 20px 120px;
  background-color: #5186bf;

  .ask-item {
    color: $white;
  }

  .btn {
    width: 50%;
  }
}

.about-us {
  text-align: center;

  .about-us-description {
    padding: 100px;
  }

  .about-us-img {
    object-fit: contain;
  }

  .about-us-items {
    text-align: left;
  }
}
@keyframes letter-appear {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  50% {
    letter-spacing: 0;
    opacity: 0.4;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}
