.section-text {
  font-size: 1.1em;
  @include roboto-font;
}

.section-title {
  font-size: 1.5em;
  @include roboto-font;
  font-weight: 900;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.flex-center {
  @include flex-center;
}

.overlay {
  background-color: rgba(000, 000, 000, 0.7);
  width: 100%;
  height: 50%;
  @include flex-center;
}

.btn {
  padding: 10px;
  @include roboto-font;
  transition: 300ms all ease;
  border-radius: 3px;
}

.btn-blue {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;
  border-radius: 3px;
  margin: 0 auto;
  transition: 400ms all ease;

  &:hover {
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
    cursor: pointer;
  }
}

.btn-white {
  border: 1px solid $white;
  color: $blue-darker;
  transition: 400ms all ease;

  &:hover {
    color: $white;
    background-color: $blue-darker;
    cursor: pointer;
  }
}

.form-item {
  padding: 5px;
  margin: 5px;
  border: 1px solid rgba(222,222,222,0.9);
  width: 200px;
}

.form-item:nth-child(4) {
  width: 100%;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}
