.section-text { font-size: 1.1em; font-family: 'Roboto', sans-serif; }

.section-title { font-size: 1.5em; font-family: 'Roboto', sans-serif; font-weight: 900; }

.row { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; width: 100%; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex-center { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.overlay { background-color: rgba(0, 0, 0, 0.7); width: 100%; height: 40vh; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.btn, .hero-container .btn-white { padding: 10px; font-family: 'Roboto', sans-serif; transition: 300ms all ease; border-radius: 3px; }

.btn-blue { background-color: #fff; border: 1px solid #3082d8; color: #3082d8; border-radius: 3px; margin: 0 auto; transition: 400ms all ease; }

.btn-blue:hover { border: 1px solid #3082d8; background-color: #3082d8; color: #fff; cursor: pointer; }

.btn-contact { padding: 10px; width: 50%; }

.btn-white { border: 1px solid #fff; color: #5186bf; transition: 400ms all ease; }

.btn-white:hover { color: #fff; background-color: #5186bf; cursor: pointer; }

.form-item { width: 100%; padding: 5px; margin-bottom: 5px; border: 1px solid rgba(222, 222, 222, 0.9); }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { /* display: none; <- Crashes Chrome on hover */ -webkit-appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; /* Firefox */ }

html { overflow-x: hidden; }

.navbar-container { text-align: right; position: fixed; display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-align: center; align-items: center; width: 100vw; height: 100px; background-color: #fff; border-bottom: 3px solid #3082d8; top: 0; z-index: 888; }

.navbar { list-style: none; display: inline-block; padding: 0; margin-right: 150px; }

.navbar .nav-item { font-family: 'Roboto', sans-serif; display: inline-block; color: #222; font-size: 1.4em; margin: 15px; text-transform: uppercase; animation: letter-appear 1s ease; border-color: transparent; transition: 500ms all ease; border-bottom: 1px solid transparent; }

.navbar .nav-item:hover { cursor: pointer; border-bottom: 4px solid #3082d8; }

.navbar .nav-item-logo { position: absolute; left: 150px; }

.navbar .nav-item-logo .logo { height: 4rem; }

.hero-container { position: relative; margin: 50px auto 0; background: url("/images/header.jpeg") no-repeat; background-size: cover; height: 90vh; width: 100vw; text-align: center; z-index: -1; }

.hero-container .hero-title { font-family: 'Roboto', sans-serif; font-size: 3em; color: #fff; }

.hero-container .btn-white { background-color: rgba(0, 0, 0, 0); color: #fff; border: 1px solid #fff; }

.hero-container .btn-white:hover { background-color: #fff; color: #222; border: 1px solid #fff; cursor: pointer; }

.hero-arrow { position: absolute; bottom: 50px; right: 50%; font-size: 3em; color: #fff; animation: arrow-animation 2s ease infinite; }

.offer { margin-bottom: 60px; text-align: center; }

.offer .offer-item-container { text-align: center; padding: 50px; }

.offer .far, .offer .fas { font-size: 6em; color: #5186bf; }

.offer .section-text { padding: 10px; margin-top: 0; }

.offer .offer-title { font-size: 2.5em; }

.offer .btn-offer { width: 100%; margin-top: 100px; }

.description { background-color: #3082d8; }

.description .description-items { padding: 50px 150px; }

.description .section-title { text-align: left; color: #fff; font-weight: 400; }

.description .description-item, .description .description-item-list { list-style: disc; color: #fff; font-weight: 300; }

.description .description-item:last-child { margin-bottom: 0; }

.description .house-img { background: url("/images/home.jpeg") no-repeat; background-size: cover; }

.description .office-img { background: url("/images/office.jpeg") no-repeat; background-size: cover; }

.ask { padding: 20px 120px; background-color: #5186bf; }

.ask .ask-item { color: #fff; }

.ask .btn, .ask .hero-container .btn-white, .hero-container .ask .btn-white { width: 50%; }

.about-us { text-align: center; margin: 80px 80px 150px; }

.about-us .about-us-description { padding-top: 0; line-height: 1.3em; }

.about-us .about-us-items { text-align: left; }

.about-us .about-us-items:last-child { text-align: center; text-decoration: underline; font-size: 1.2em; line-height: 1.3em; }

.about-us .about-us-img { border-radius: 3px; width: 100%; padding: 20px; }

.about-us .btn-contact { margin: 10px 0; }

.about-us .btn-call { padding: 5px; }

.contact { background-color: #5186bf; }

.contact .section-title { font-size: 3em; color: #fff; }

.footer-container { background-color: #272727; padding: 50px; }

.footer-container .section-title { font-weight: 900; }

.footer-container .footer-logo { -o-object-fit: contain; object-fit: contain; height: 60px; margin-bottom: 20px; }

.footer-container .footer-offer { padding: 0; }

.footer-container .far, .footer-container .fas { color: #fff; }

.footer-container .mail { unicode-bidi: bidi-override; direction: rtl; }

.footer-item { color: #fff; text-align: center; font-size: 0.9em; list-style: none; font-weight: 300; margin: 5px; }

.designed { background-color: #222; padding: 15px; }

.designed .footer-item { font-size: 0.8em; }

.form-container { visibility: hidden; height: 0; transition: 300ms all ease; }

.form-container.show { height: 100%; visibility: visible; }

@keyframes letter-appear { 0% { letter-spacing: -0.5em;
    opacity: 0; }
  50% { letter-spacing: 0;
    opacity: 0.4; }
  100% { letter-spacing: normal;
    opacity: 1; } }

@keyframes arrow-animation { 0% { transform: scale(1); }
  25% { transform: scale(1.5); }
  35% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); } }

* { box-sizing: border-box; }

@media (max-width: 1330px) { .offer .offer-item-container { padding: 10px; } }

@media (max-width: 1300px) { .section-text { font-size: 1em; }
  .section-title { font-size: 1.3em; }
  .description .description-items { padding: 50px; }
  .offer .far, .offer .fas { font-size: 4em; }
  .about-us .about-us-description { padding: 10px; } }

@media (max-width: 978px) { .navbar { margin-right: 50px; }
  .navbar .nav-item { font-size: 1em; }
  .navbar .nav-item-logo { left: 100px; }
  .hero-container .hero-title { font-size: 2.5em; padding: 50; }
  .description { text-align: center; }
  .description .section-title { text-align: center; }
  .description .description-item-list { list-style: none; font-weight: 400; }
  .description .description-item-list::before { content: '-'; } }

@media (max-width: 731px) { .hero-container .hero-title { font-size: 2em; } }

@media (max-width: 700px) { .navbar .logo { height: 3em; }
  .navbar .nav-item-logo { left: 20px; }
  .offer .section-text { padding: 10px 50px; } }

@media (max-width: 660px) { .about-us { margin: 50px; }
  .navbar .nav-item { margin: 5px; }
  .navbar .nav-item-logo .logo { height: 3em; }
  .btn-call { padding: 5px; } }

@media (max-width: 550px) { .section-text { font-size: 0.75em; }
  .section-title { font-size: 0.9em; }
  .navbar { margin-right: 20px; }
  .navbar .nav-item { font-size: 0.7em; margin-right: 0; }
  .offer-title { font-size: 2em; } }

@media (max-width: 400px) { .navbar .nav-item { font-size: 0.75em; } }

@media (max-width: 360px) { .navbar .nav-item { font-size: 0.6em; }
  .about-us .about-us-items:last-child { font-size: 1em; } }

@media only screen and (min-width: 768px) { .col-1-md { width: 8.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-2-md { width: 16.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-3-md { width: 25%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-4-md { width: 33.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-5-md { width: 41.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-6-md { width: 50%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-7-md { width: 58.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-8-md { width: 66.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-9-md { width: 75%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-10-md { width: 83.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-11-md { width: 91.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-12-md { width: 100%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; } }

@media only screen and (min-width: 1200px) { .col-1-xl { width: 8.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-2-xl { width: 16.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-3-xl { width: 25%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-4-xl { width: 33.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-5-xl { width: 41.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-6-xl { width: 50%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-7-xl { width: 58.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-8-xl { width: 66.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-9-xl { width: 75%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-10-xl { width: 83.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-11-xl { width: 91.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-12-xl { width: 100%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; } }

@media only screen and (max-width: 767px) { .col-1-sm { width: 8.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-2-sm { width: 16.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-3-sm { width: 25%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-4-sm { width: 33.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-5-sm { width: 41.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-6-sm { width: 50%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-7-sm { width: 58.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-8-sm { width: 66.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-9-sm { width: 75%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-10-sm { width: 83.33333%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-11-sm { width: 91.66667%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .col-12-sm { width: 100%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; } }

.flex-center { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

ul { padding: 0; }

a:-webkit-any-link { cursor: pointer; text-decoration: none; -webkit-text-decoration-line: none; text-decoration-line: none; }
